@font-face {
  font-family: "MapoGoldenPier";
  src: url("./MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

